* {
box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'avenir', 'sans-serif';
}

h1 {
  margin: 8px 8px;
  background-color: white;
  border: solid 2px black;
  padding: 10px 0;
  border-radius: 5px;
  height: 60px;
}

.case {
  margin-top: 100px;
  height: 470px;
  width: 320px;
  background-color: black;
  border: solid 10px black;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonbox {
  display: flex;
  flex-flow: row wrap;
}

button {
  border-style: solid;
  border-color: lightgrey;
  border-width: 0 3px 3px 0;
  outline: none;
  margin: 10px;
  width: 55px;
  height: 55px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  border-radius: 5px;
}

.wide {
  width: 130px;
}

button:active {
  border: transparent;
}

.number {
  background-color: cornflowerblue;
}

.function {
  background-color: coral;
}

#clear,
#back  {
  background-color: mediumorchid;
}

#equals {
  background-color: mediumseagreen;
}
